<!DOCTYPE html>
html(lang="en")
  head
    link(rel="stylesheet", href="../sass/main.scss")
    script(src="../js/main.js")
  body
    main
        h1#question-1 

        //- How to make handle bars work? 
        //- I want to be able to pass the values from my class into my html
            //- Example h1 question one should show ${battleStarTrivia[0].question}
                //- follow this same logic to create corresponding answer choices and answer details.
            //- This will allow me to write less code.
        //- Use bootstrap to hanle responsiveness of the website.
        //- 